	<div id="menu">
		<h1><a href="http://www.cnucamp.org"><b>CNU</b>野营社</a></h1>
		<div>
			<ul>
				<li><a href="<%= introduction_path %>">INTRODUCTION / 介绍</a></li>
				<li><a href="<%= topics_path %>">BBS / 论坛</a></li>
				<li><a href="<%= album_path %>">PHOTOS / 相簿</a></li>
				<li><a href="<%= users_path %>">MEMBERS / 成员</a></li>
			</ul>
		</div>
	</div>
	<div id="cont"><div class="box large left">
	<h2><b>CNU</b>野营社</h2>
欢迎来到首都师范大学野营社。挑战自我，征服自然；远离城市喧嚣，与地球共呼吸。我们热爱户外运动，野营社是我们共同的家。野营社成立于2012年，为成员提供安全互助、装备分享以及结交朋友的机会，目前已成功组织 1 次出游活动。
	</div></div>
	
<div id="bg"><div><table cellpadding="0" cellspacing="0"><tr><td>
	<%= image_tag("bg/#{File.basename(@bg_file)}") %>
</td></tr></table></div></div>